<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Zoom meeting</title>
  <!-- cssファイル読み込み -->
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <h1>Zoomミーティング</h1>
</body>
</html>