<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>Zoom meeting</title>
    <!-- cssファイル読み込み -->
    <link rel="stylesheet" href="style.css" />
    <!-- アイコン読み込み -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
    <!-- socketファイル読み込み -->
    <script src="/socket.io/socket.io.js" defer></script>
    <!-- Vue読み込み -->
    <script src="https://unpkg.com/vue@next" defer></script>
    <!-- PeerJS読み込み -->
    <script
      src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"
      defer
    ></script>
    <!-- app.js読み込み -->
    <script src="app.js" defer></script>
  </head>

  <body>
    <div id="app">
      <h1 id="title">Zoomミーティング</h1>
      <!-- roomIdが空であればRoom選択画面を表示 -->
      <div id="join" v-if="!roomId">
        <div style="width: 25%">
          <h2>ルームの選択</h2>
          <div>
            <input
              v-model="name"
              placeholder="ユーザ名を入力してください"
              required
            />
          </div>
          <div>
            <button
              @click="joinRoom('room_1')"
              class="btn"
              v-bind-diabled="name == ''"
            >
              Room 1
            </button>
            <button
              @click="joinRoom('room_2')"
              class="btn"
              v-bind-diabled="name == ''"
            >
              Room 2
            </button>
          </div>
        </div>
      </div>
      <div id="container" v-else>
        <div id="main">
          <!-- ビデオ描画エリア -->
          <div id="video" ref="video"></div>
          <div id="menu">
            <div style="display: flex">
              <!-- マイクアイコン描画エリア -->
              <div class="menu_item">
                <div>
                  <i
                    class="fa fa-2x fa-microphone"
                    @click="stopAudio"
                    v-if="!onMute"
                  ></i>
                  <i
                    class="fa fa-2x fa-microphone-slash"
                    @click="startAudio"
                    v-else
                  ></i>
                </div>
                <div>
                  <span v-if="!onMute">ミュート</span>
                  <span v-else>アンミュート</span>
                </div>
              </div>
              <!-- ビデオアイコン描画エリア -->
              <div class="menu_item">
                <div>
                  <i
                    class="fa fa-2x fa-video"
                    @click="stopVideo"
                    v-if="onVideo"
                  ></i>
                  <i
                    class="fa fa-2x fa-video-slash"
                    @click="startVideo"
                    v-else
                  ></i>
                </div>
                <div>
                  <span v-if="onVideo">ビデオの停止</span>
                  <span v-else>ビデオの開始</span>
                </div>
              </div>
            </div>
            <div>
              <!-- クリックすると、leaveRoomメソッドを実行するイベント -->
              <button class="end" @click="leaveRoom">終了</button>
            </div>
          </div>
        </div>
        <div id="sub">
          <!-- 参加者描画エリア -->
          <div id="participate">
            <p class="sub_list">参加者</p>
            <div class="message_wrap">
              <p v-for="(member,index) in members" :key="index">
                {{ member.name }}
              </p>
            </div>
          </div>
          <!-- チャット描画エリア -->
          <div id="chat">
            <p class="sub_list">チャット</p>
            <div class="message_wrap">
              <!-- v-forディレクティブを利用してメッセージをブラウザ上に表示 -->
              <p v-for="(message,index) in messages" :key="index">
                {{ message }}
              </p>
            </div>
            <div>
              <div>
                <textarea
                  class="text_area"
                  placeholder="メッセージを入力します"
                  v-model="message"
                ></textarea>
              </div>
              <div>
                <!-- クリックすると、sendMessageメソッドを実行するイベント -->
                <button class="btn" @click="sendMessage">メッセージ送信</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
